@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// @mixin baseCol {
//     background-color: orangered;
//     color: $color-white;
//     float: left;
//     padding: 2rem;
//     &:not(:last-child) {
//         margin-right: $gutter-horizontal;
//     }
// }