//COLOR
$color-darkgray:#777;
$color-dark:rgba(0, 0, 0, 0.2);
$color-white:#fff;
$color-white-opacity:#ffffff49;
$color-default:hsla(111, 55%, 64%, 0.8);
$color-default-darken:hsla(160, 64%, 43%, 0.8);
//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;