@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "pages/home";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utitities";
@import "layout/header";
@import "layout/grid";
@import "components/button";

/* navigation toggle*/

.navigation {
    position: absolute;
    top: 5rem;
    right: 5rem;
    height: 5rem;
    width: 5rem;
    z-index: 100;
    &__checkbox {
        height: 5rem;
        width: 5rem;
        opacity: 0;
    }
    &__checkbox:checked~&__toggle &__span::after {
        transform: rotate(45deg);
        top: 0rem;
        height: 98%;
        transition: all .5s;
    }
    &__checkbox:checked~&__toggle &__span::before {
        transform: rotate(-45deg);
        top: 0rem;
        height: 98%;
        transition: all .5s;
    }
    &__toggle &__span::before,
    &__toggle &__span::after {
        content: "";
        border: .1rem solid $color-darkgray;
        width: .05rem;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s;
    }
    &__toggle &__span::before {
        transform: rotate(90deg);
        top: 13%;
    }
}